
/*本周热门*/
.title{
	height: 45px;
	/*padding-left: 50px;*/
	padding-left: 12%;
	color: rgb(255,182,146);
	font-size: 16px;
	line-height:4;
}
#hottitle{
	margin-top: -5%;
	background-image: url(../img/weekhot.png);
	background-repeat: no-repeat;
	/*background-position: 18px 15px;
	background-size: 25px;*/
	background-position: 4% 100%;
	background-size: 7%;
}

.line {
  border-width: 1px;
  border-color: rgb(255, 182, 146);
  border-style: solid;
  position: relative;
  top: 0;
  left: 3%;
  margin: 0 auto;
  width: 82%;
  /*margin-bottom: 20px;*/
  margin-bottom: 5%;
}


/*本周最新*/
#newtitle{
	background-image: url(../img/weeknewest.png);
	background-repeat: no-repeat;
	/*background-position: 15px 20px;
	background-size: 30px;*/
	background-position: 4% 100%;
	background-size: 8%;
}

/*mask的渐显*/
	.fade{
		position: fixed;
		display: none;
		/*width: 0;
		height: 0;*/
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		/*left: 50%;
		top: 50%;*/
		/*border-radius: 100px;*/
		opacity: 0;
		z-index: 2;
		transition: all .5s;
	}
	.fade-show{
		/*width: 100%;
		height: 100%;*/
		/*left: 0;
		top: 0;*/
		/*border-radius: 0;*/
		opacity: 0.7;
		background-color: white;
	}
	/*btn的旋转*/
	.rotate{
		position: fixed;
		right:16px ;
		bottom: 16px;
		z-index: 3;
		transform: rotate(0);
		transition: all .5s;
	}
	.rotate>img{
		width: 54px;
		height: 54px;
		/*border-radius: 27px;*/
	}
	.rotate-show{
		transform: rotate(45deg);
	}
	
	/*许愿图标等的动画*/
	/*许愿图标等*/
	.topray>a,.shake>a{
		display: inline-block;
		width: auto;
		float: right;
		
	}
	.topray{
		position: absolute;
		right: 21px;
		bottom: 140px;
		
	}
	.shake{
		position: absolute;
		right: 21px;
		bottom: 80px;
	}
	
	.topray>a>img,.shake>a>img{
		width: 45px;
		height: 45px;
		/*position: absolute;*/
		/*right: 10px;*/
		/*bottom: 10px;*/
		/*right: 10px;*/
		/*margin-left: 20px;*/
	}
	
	.topray>a>span,.shake>a>span{
		display: inline-block;
		position: absolute;
		height: 25px;
		width: 100px;
		
		right: 55px;
		top: 10px;
		line-height: 25px;
		/*background-color: rgb(245,245,245);*/
		background-color: grey;
		border-radius: 2px;
		text-align: center;
		color: black;
		box-shadow: 0px 0px 5px #000000;
	}
	.shake>a>span{
		width: 80px;
	}
	.span-anima{
		-webkit-animation:showspan 1 linear .1s;
	}
	.span-anima2{
		-webkit-animation:showspanB 1 linear .1s;
	}
	.icon-anima{
		-webkit-animation:showicon 1 linear .1s;
	}
	/*span由左到右动画*/
	@-webkit-keyframes showspan{
		0%{
			right: 20px;
			top: 10px;
			border-radius: 0;
		}
		100%{
			right: 55px;
			width: 100px;
			top: 10px;
			background-color: grey;
			border-radius: 2px;
		}
	}
	@-webkit-keyframes showspanB{
		0%{
			right: 20px;
			top: 10px;
			border-radius: 0;
		}
		100%{
			right: 55px;
			width: 80px;
			top: 10px;
			background-color: grey;
			border-radius: 2px;
		}
	}
	/*图标逐渐变大动画*/
	@-webkit-keyframes showicon{
		0%{
			width: 0;
			height: 45px;
		}
		100%{
			width: 45px;
			height: 45px;
		}
	}
